.mask {
  width: 100%;
  height: 100vh;
  position: relative;
}

.intro-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.mask::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.5;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* 物件的X軸移動-50%，此50%是以物件本身的寬度作為100%來做計算，所以不管你的物件寬度是多少，他都會自動跑負一半的位置 */
}

.content h1 {
  margin: 3rem 0;
  color: white;
}

.content .btn {
    margin: 0 0.5rem;
}

/* 手機版 */
@media screen and (max-width:768px){
    .content h1{
        font-size: 1.5rem;
        color:white;
    }
    .content .btn {
        font-size: 0.8rem;
    }
}